extends layout

block content
 .container
   h1= title
   p Welcome to #{title}
   p.
    If you’ve got an initiative, product or service already in action that’s tackling a sustainability problem, or you know someone else whose brilliant work deserves recognition, this is for you.

    is calling all young entrepreneurs with solutions that are tackling some of the planet’s social and environmental challenges.