extends layout

block content

         .jumbotron
            .container
              .row
                .col-md-7.col-lg-7
                  h2 We solve digital problems @ ABSpace  
                  p.
                   do you want to know learn computer or need computing service that what we do here
                  a.btn.btn-primary(href='#') read more
                .col-md-5.col-lg-5
                   img(src='images/piz3.png')
                      
         .row   
            .col-md-4.col-lg-4
              .well
              
                h5 computer repair
                p
                  | Some quick example text to build on the card title and make up the bulk of the card's content.
                a.btn.btn-primary(href='#') Go somewhere
            
        
            .col-md-4.col-lg-4
              .well
          
                h5 computer sales
                p.
                  Some quick example text to build on the card title and make up the bulk of the card's content.
                a.btn.btn-primary(href='#') Go somewhere
            .col-md-4.col-lg-4
              .well
          
                h5 computer service
                p.
                  Some quick example text to build on the card title and make up the bulk of the card's content.
                a.btn.btn-primary(href='#') Go somewhere
